<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./master.css">
</head>
<body>
  <div id="root">
    <div class="top">

      <div class="ddowns">
        <div class="movies-ddown">
          <div class="movies-hover-btn">
            <i class="fas fa-film"></i>
            <span>Movies</span>

            <div class="sections-film">
              <button type="button" name="search" @click="popularMovies()">Popular Movies</button>
              <button type="button" name="search" @click="topRatedMovies()">Top Rated Movies</button>
              <button type="button" name="search" @click="upcomingMovies()">Upcoming</button>
            </div>
          </div>
        </div>

        <div class="tvseries-ddown">
          <div class="tvseries-hover-btn">
            <i class="fas fa-tv"></i>
            <span>Tv Shows</span>
            <div class="sections-tvseries">
              <button type="button" name="search" @click="popularTV()">Popular TV-series</button>
              <button type="button" name="search" @click="topRatedTV()">Top Rated TV-series</button>
            </div>
          </div>
        </div>
      </div>

      <h1 onclick="window.location.reload()">BOOLFLIX</h1>

      <div class="search-zone">
        <input :class="(shown) ? 'show' : ''" type="text" name="" value="" v-model="nameSearch" placeholder="Search..." @keyup.enter="searchFilm(nameSearch)">
        <button type="button" name="search" @click="searchFilm(nameSearch);  showInputSearch()"><i class="fas fa-search"></i> </button>
      </div>
    </div>
    <div class="titlepage" v-html="titlePage"></div>
    <div class="mid">
      <!-- <div class="film-card"
            v-for="result in filmResult">
        <div class="card-cover">
          <img :src="getPoster(result)" alt="">
        </div>
        <span class="title">{{result.title}}</span>
        <span>{{result.original_title}}</span>
        <span>{{result.original_language}}</span>
      </div> -->
      <div class="flip-card" v-for="result in queryResult">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img :src="getPoster(result)" :alt="result.original_title">
          </div>
          <div class="flip-card-back">
            <p class="flip-card-back-title">Title: {{result.title}}{{result.name}}</p>
            <span>Original title: {{result.original_title}}{{result.original_name}}</span>
            <img width="30" height="20" style="margin:10px;" :src="getFlag(result.original_language)" alt="">
            <!-- <span id="flag">Lingua: {{getFlag(result.original_language)}}</span> -->
            <div>
              <i class="fas fa-star" v-for="stars in rateToStarsFull(result.vote_average)"></i>
              <i style="margin-left: -4px;" class="far fa-star" v-for="stars in rateToStarsEmpty(result.vote_average)"></i>
            </div>
            <span class="avgRating">{{result.vote_average}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="bot">
      <div class="container">
        <ul>
          <li class="list-title">Movies</li>
          <li class="list-element" @click="topRatedMovies()">Top Rated</li>
          <li class="list-element" @click="popularMovies()">Popular</li>
          <li class="list-element" @click="upcomingMovies()">Upcoming</li>
        </ul>
        <ul>
          <li class="list-title">TV Series</li>
          <li class="list-element" @click="topRatedTV()">Top Rated</li>
          <li class="list-element" @click="popularTV()">Popular</li>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
