<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>

  <link rel="stylesheet" href="./master.css">
</head>
<body>
  <div id="root">
    <div class="top">
      <h1>BOOLFLIX</h1>
      <div class="search-zone">
        <input type="text" name="" value="" v-model="nameSearch" placeholder="Cerca Film o serieTV" @keyup.enter="searchFilm(nameSearch)">
        <button type="button" name="search" @click="searchFilm(nameSearch)">Search</button>
      </div>


    </div>
    <div class="mid">
      <!-- <div class="film-card"
            v-for="result in filmResult">
        <div class="card-cover">
          <img :src="getPoster(result)" alt="">
        </div>
        <span class="title">{{result.title}}</span>
        <span>{{result.original_title}}</span>
        <span>{{result.original_language}}</span>
      </div> -->
      <div class="flip-card" v-for="result in queryResult">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img :src="getPoster(result)" :alt="result.original_title">
          </div>
          <div class="flip-card-back" style="background-image: getPoster(result)">
            <p class="flip-card-back-title">Titolo: {{result.title}}{{result.name}}</p>
            <span>Titolo originale: {{result.original_title}}{{result.original_name}}</span>
            <img width="30" height="20" :src="getFlag(result.original_language)" alt="">
            <!-- <span id="flag">Lingua: {{getFlag(result.original_language)}}</span> -->
            <span>Media Voto: {{result.vote_average}}</span>
          </div>
        </div>

      </div>

    </div>
    <div class="bot">


    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
