*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}



.top{
  width: 100%;
  padding: 0 40px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.ddowns{
  position: relative;

  display: flex;
}

.top h1{
  color: red;
  cursor: pointer;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.4em;
}


.movies-ddown, .tvseries-ddown{
  display: flex;
  position: relative;
  padding-right: 20px;
}

.movies-ddown .movies-hover-btn, .tvseries-ddown .tvseries-hover-btn{
  color: #ffff;
  display: flex;
  align-items: center;
}

.movies-ddown .movies-hover-btn i{
  color: #ffff;
  font-size: 1.5em;
}

.tvseries-ddown .tvseries-hover-btn i{
  color: #ffff;
  font-size: 1.2em;
}

.tvseries-hover-btn i, .movies-hover-btn i{
  padding-right: 3px;
}

.movies-hover-btn:hover .sections-film{
  display: block;
}

.movies-hover-btn:hover{
  text-shadow: 0 0 5px #ff0000;
}

.tvseries-hover-btn:hover .sections-tvseries{
  display: block;
}

.tvseries-hover-btn:hover{
  text-shadow: 0 0 5px #ff0000;
}

.sections-film, .sections-tvseries {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.sections-film button, .sections-tvseries button {
  background-color: black;
  width: 200px;
  height: 50px;
  color: #ffff;
  cursor: pointer;
}

.sections-film button:hover, .sections-tvseries button:hover {
  color: #ff0000;
}

.top .search-zone{

}

.top .search-zone input {
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.top .search-zone button {
  background-color: black;
  color: red;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
}

.top .search-zone button i{
  color: #ffff;
}

textarea:focus, input:focus{
  outline: none;
}

.titlepage{
  padding-top: 110px;
  text-align: center;
  width: 100%;
  background-color: #2b2b2b;
  font-size: 3em;
  font-weight: bold;
  color: lightgrey;
}



.mid{
  background-color: #2b2b2b;
  padding-top: 20px;
  padding-bottom: 50px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  max-width: 350px;
  height: 300px;

  display: flex;
  flex-direction:column;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  min-width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  min-width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img{
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateY(180deg);
  font-size: .9em;
}

.flip-card-back .flip-card-back-title{
  font-size: 1.2em;
  font-style: italic;
}

.flip-card-back img{
  align-self:center;
}

i.fa-star{
  color: yellow;
}

i.far{
  color: #ffff;
}

.overview{
  padding-top: 5px;
}

.bot{
  background-color: black;
  padding: 50px 0;
}

.container{
  display: flex;
  justify-content: center;
}

.bot ul{
  display: block;
  color: #ffff;
  margin: 0 40px;
  text-align: center;
}

.bot ul li{
  list-style: none;
  margin-top: 10px;
  padding: 10px -10px;
  text-align: center;
}

.list-title{
  font-size: 1.5em;
  font-weight: 600;
}

.list-element{
  cursor: pointer;
}


@media all and (max-width: 768px) {
  .titlepage{
    font-size: 1.3em;
  }

  .ddowns div span{
    display: none;
  }

  .top{
    justify-content: flex-end;
  }

  .top h1{
    left: 25%;
  }

  .flip-card {
    background-color: transparent;
    width: 130px;
    max-width: 200px;
    height: 200px;

    display: flex;
    flex-direction:column;
    perspective: 1000px;
    margin: 15px;
  }

  .overview{
    display: none;
  }
}

@media all and (max-width: 600px) {
  .top{
    padding: 0;
  }

  .search-zone{
    position: relative;
  }

  .search-zone input{


    display: none;
  }

  .search-zone input.show{
    position: absolute;
    top: 100%;
    left: -300%;
    z-index: 100;
    display: block;
  }

  .search-zone button:hover .search-zone input{
    display: block;
  }

  .sections-film, .sections-tvseries {
    top: 100%;
    left: -200%;
    z-index: 100;
  }
}
